{% if (datos|length) > 0 %}
  <!-- DataTales Example -->
  <div class="btn-crear">
    <div style="display: inline-block; 
                margin-right: 4em; 
                background: #fff;
                border-top: 1px solid #DBDBDB;
                border-bottom: 1px solid #DBDBDB;
                border-left: 1px solid #DBDBDB;">     
    </div>
   
  </div>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        {{ tituloTabla }}
      </h6>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for key, campo in campos %}
                <th style="color: #B4B7BF">
                  {{ campo }}
                </th>
              {% endfor %}
              <th style="color: #B4B7BF">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            {% for key, fila in datos %}
              <tr>
                {% for key, data in fila %}                  
                  {% if data == "NO INICIADO" %}
                    <td style="background: #fff; color: #1CCA51">
                      {{ data }}
                    </td>
                  {% elseif data == "EN PROCESO" %}
                    <td style="background: #fff; color: #FFD91A">
                      {{ data }}
                    </td>
                  {% elseif data == "FINALIZADO" %}
                    <td style="background: #fff; color: #F24100">
                      {{ data }}
                    </td>
                  {% else %}
                    <td style="background: #fff; color: #484C64">
                      {{ data }}
                    </td>
                  {% endif %}
                {% endfor %}
                {{ include('tramite/modal/_progress.html.twig') }}
                <td style="background: #fff" colspan="2">
                  <div class="dropdown">
                    <button class="btn btn-primary"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton">                     
                      <a class="dropdown-item" href="{{ path('procesotramite',{idTramite:  fila[0] }) }}">Actualizar</a>
                      <a class="dropdown-item" href="#">Editar</a>
                       <a class="dropdown-item" href="#">Eliminar</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% else %}
  <div style="text-align: center">
    <img src="./img/tramite.png " />
    <h3 style="color: #172B4D, font-size: 20px">
      {{ crear }}
    </h3>
  </div>
{% endif %}
